* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0; 
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  
  li {
    display: inline; 
    margin-right: 20px; 
  }
  
  
  a {
    text-decoration: none; 
    color: #fff; 
  }
  
  a:hover {
    text-decoration: underline; 
  }
  
  #Home a {
    font-weight: bold; 
  }
  